SMTP_HOST=smtp.zoho.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=fahad.jamshaid@novatoresols.com
SMTP_PASSWORD=PASTE_MY_ZOHO_APP_PASSWORD_HERE
SMTP_FROM_EMAIL=fahad.jamshaid@novatoresols.com
CONTACT_RECEIVER=fahad.jamshaid@novatoresols.com
SMTP_FROM_NAME=HiringEase
